<h1>Your order</h1>

<!-- back to shoping component -->
<div class="container-btn-shipping">
  <a [routerLink]="['/']" class="button fancy-button"><i class="material-icons">backspace</i>Back to shopping</a>
</div>

<!-- shipping component -->
<div class="container-btn-shipping">
  <a [routerLink]="['/shipping']" class="button fancy-button"><i class="material-icons">local_shipping</i>Delivery Prices</a>
</div>
<hr>
<!-- table -->
<table class="table cart">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Color</th>
      <th scope="col">Size</th>
      <th scope="col">Material</th>
      <!-- <th scope="col">St</th> -->
      <th scope="col">Price</th>
      <!-- <th scope="col">Total</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; index as i" >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{item.product.name}}</td>
      <td>{{item.color.colorName}}</td>
      <td>{{item.size.sizeName}}</td>
      <td>{{item.material.materialName}}</td>
      <!-- <td >{{item.quantity}}</td> -->
      <td>{{item.product.price}}</td>
      <td></td>
      <td>
        <button mat-button (click)="this.cartService.removeCartItem(item.id)"><i class="material-icons">delete</i></button></td>
    </tr>
  </tbody>
  <tfoot>
    <th>Total</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ totalPrice() | currency}}</td>
    <td></td>
    <td><a [routerLink]="['/payment']" class="button fancy-button"><i class="material-icons">done_outline</i>To Pay</a></td>
  </tfoot>
</table>


