<mat-card class="card" *ngFor="let product of products">
  <mat-card-header>
    <mat-card-title>
      <a [title]="product.name + ' details'" [routerLink]="['/product', product.id]">
        {{ product.name }}
      </a>
    </mat-card-title>
  </mat-card-header>
  <p *ngIf="product.imageUrl !== ''">
    <img mat-card-lg-image src="{{ product.imageUrl }}" alt="Photo TShirt" />
  </p>
  <mat-card-content>
    <p>Descrition: </p>{{ product.details }}

    <p>Price:</p> ${{ product.price }}
  
    <div class="container-btn">
      <button mat-button (click)="share()">Share</button>
      <button mat-button (click)="addToCart(product)">Buy</button>
    </div>

    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>

  </mat-card-content>
</mat-card>
