<!-- table -->
<div *ngFor="let order of items" >
  <h2>Order # {{order.id}}</h2>
<table class="table cart">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Color</th>
      <th scope="col">Size</th>
      <th scope="col">Material</th>
      <!-- <th scope="col">St</th> -->
      <th scope="col">Price</th>
      <!-- <th scope="col">Total</th> -->
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of order.orderRows" >
      <td>{{item.product.name}}</td>
      <td>{{item.color.colorName}}</td>
      <td>{{item.size.sizeName}}</td>
      <td>{{item.material.materialName}}</td>
      <!-- <td >{{item.quantity}}</td> -->
      <td>{{item.product.price}}</td>
       </tr>
  </tbody>

</table>
</div>
